{% load static %}
<!-- Page Footers-->
      <!-- Default footer-->
      <footer class="section novi-background section-relative section-top-50 section-bottom-34 page-footer bg-black context-dark">
        <div class="container">
          <div class="row text-xl-left grid-group-md">
            <div class="col-sm-12 col-xl-3">
              <!-- Footer brand-->
              <div class="footer-brand"><a href="index.html">
                <img style='margin-top: -5px;margin-left: -15px;' width='171' height='45' src="{% static 'img/logo-dark.png' %}" alt=''/></a>
              </div>
              <p class="text-darker offset-top-4">Connect With Your Learning Friends!</p>

            </div>



          </div>
        </div>
        <div class="container offset-top-50">
          <p class="small text-darker">wE-Learning &copy; <span class="copyright-year"></span>
            . Design&nbsp;by&nbsp;Betty
          </p>
        </div>
      </footer>
