{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
 {% include 'head.html' %}
  <body>
    <div class="page-loader page-loader-variant-1">
      <div>
        <img class='img-fluid' style='margin-top: -20px;margin-left: -18px;' width='341' height='90' src="{% static 'img/logo-big.png' %}" alt=''/>
        <div class="offset-top-41 text-center">
          <div class="spinner"></div>
        </div>
      </div>
    </div>
    <div class="page text-center">
      {% include 'header.html' %}
      {% include 'breadcrumbs.html' %}
      <br/><br/>
      {% include 'landing/navbar.html' %}
      {% block content %} {% endblock %}
      <br/><br/><br/><br/>
      {% include 'footer.html' %}
    </div>
    <!-- Global RD Mailform Output -->
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
