{% extends "homebase.html" %}

{% block head %}
{% include 'head.html' %}
{% endblock %}

{% block breadcrumbs %}
{% include 'breadcrumbs.html' %}
{% endblock %}

{% block content %}
<br>


<section class="section novi-background section-98 section-md-110">
    <div class="container">
        <h1>New Quiz </h1>

        <hr class="divider bg-mantis">
        <BR/>
        <form method="post">
            {%csrf_token%}
<div class="row">
    <div class="col-4">

    </div>
        <div class="col-4">
        <div class="form-group">
             <label>
                <b>
                    {{ form.quiz_name.label }}
                </b>
            </label>
            {{ form.quiz_name }}

            </br>

            <label>
                <b>
                    {{ form.quiz_level.label }}
                </b>
            </label>
            {{ form.quiz_level }}
        </div>
    </div>
        <div class="col-4">

    </div>
</div>
<!--            <input type="hidden" name="courseId" value="{{course_id}}">-->


            </br> </br>
            <button class="btn btn-success" type="submit"> Create New Quiz</button>

        </form>
    </div>
</section>
{% endblock %}
