{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <dic class="col-md-10 col-sm-12 text-center">
            <h1 class="display-1">wE-Learning</h1>
            <h1 class="display-6">Connect With Your Learning Friends!</h1>
            <p class= "mt-3 lead">Find like-minded people who have similar interests as you, join learning environments and contribute to collective knowledge!
            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'accounts:login' %}" class="btn btn-light mr-2">Login</a>
                <a href="{% url 'accounts:signup' %}" class="btn btn-dark">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}