 <!-- Who we are?-->
      <section class="section novi-background section-98 section-sm-124">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 text-xl-left">
              <h1>Who we are?</h1>
              <hr class="divider bg-mantis hr-xl-left-0">
            </div>
          </div>
          <div class="row justify-content-sm-center align-items-md-center offset-top-10 grid-group-md text-lg-left">
            <div class="col-md-10 col-xl-5">
              <p>wE-Learning is a social platform for people who love to learn, from all around the globe. Using wE-Learn, one can find like-minded people who have similar interests, join learning environments to learn new skills, connect with their learning friends and contribute to the collective knowledge.
              </p>
              <p>Our aim is to revolutionize the classic approach towards online learning platforms, and offer an innovative experience. We believe in the community spirit and sustain that learning is much more fun when done together!</p>
            </div>
            </div>
          </div>
          <div class="row justify-content-sm-center offset-md-top-66">
            <div class="col-md-10 col-xl-12">
              <div class="row">
                <div class="col-md-6 col-xl-3 offset-top-66 offset-sm-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-john-doe-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>Suzan Üsküdarlı</a> <small class="team-member.html">Founder, Mentor</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-0 offset-xl-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-july-mao-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>Fatma Betül Güreş</a> <small class="team-member.html">Developer</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Who we are?-->

      <!-- Why Choose Us-->
      <section class="section novi-background section-top-98 section-sm-top-110 section-sm-bottom-110 section-lg-top-66 section-bottom-98 section-lg-bottom-0 bg-lightest">
        <div class="container">
          <div class="row justify-content-md-center align-items-lg-center">
            <div class="col-xl-5 d-none d-xl-inline-block"><img class="img-fluid" width="470" height="770" src="images/pages/about-us-01-470x770.png" alt=""></div>
            <div class="col-md-10 col-xl-5 section-lg-bottom-50">
              <h1 class="offset-none">Why Choose Us</h1>
              <hr class="divider bg-mantis">
              <div class="offset-top-66 offset-xl-top-50">
                      <!-- Icon Box Type 2-->
                      <div class="unit unit-sm flex-md-row text-md-left">
                        <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-monitor"></span></div>
                        <div class="unit-body">
                          <h4 class="font-weight-bold text-malibu offset-md-top-14">We use cutting-edge technologies</h4>
                          <p>Our team of professional analysts is constantly roaming the web in search of promising techniques, which will make your business better.</p>
                        </div>
                      </div>
                <div class="offset-top-66 offset-xl-top-34">
                        <!-- Icon Box Type 2-->
                        <div class="unit unit-sm flex-md-row text-md-left">
                          <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-newspaper"></span></div>
                          <div class="unit-body">
                            <h4 class="font-weight-bold text-malibu offset-md-top-14">We value your time</h4>
                            <p>We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. Our team works on your project in multiple threads.</p>
                          </div>
                        </div>
                </div>
                <div class="offset-top-66 offset-xl-top-34">
                        <!-- Icon Box Type 2-->
                        <div class="unit unit-sm flex-md-row text-md-left">
                          <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-headset"></span></div>
                          <div class="unit-body">
                            <h4 class="font-weight-bold text-malibu offset-md-top-14">We provide qualified support</h4>
                            <p>Our support team is online 24/7, and is ready to help you with any design - related issue.</p>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- What clients Say?-->
      <section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <h1>What clients Say?</h1>
          <hr class="divider divider-md bg-mantis">
          <div class="row justify-content-sm-center offset-top-66">
            <div class="col-md-8 col-xl-4">
                    <!-- Boxed Testimonials-->
                    <blockquote class="quote quote-classic quote-classic-boxed">
                      <div class="quote-body">
                        <p>
                          <q>Great service and reasonable prices. The one thing I am sure about right now is that my next web startup will be developed by Intense.</q>
                        </p>
                        <div class="quote-meta"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-alex-merphy-80x80.jpg" alt=""></div>
                      </div>
                      <h6 class="quote-author text-uppercase">
                        <cite class="text-normal">Alex Merphy</cite>
                      </h6>
                      <p class="quote-desc">FREELANCE DEVELOPER</p>
                    </blockquote>
            </div>
            <div class="offset-top-41 col-md-8 col-xl-4 offset-xl-top-0">
                    <!-- Boxed Testimonials-->
                    <blockquote class="quote quote-classic quote-classic-boxed">
                      <div class="quote-body">
                        <p>
                          <q>They’ve developed a large multipage website with lots of additional functions in just two weeks.</q>
                        </p>
                        <div class="quote-meta"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-amanda-smith-80x80.jpg" alt=""></div>
                      </div>
                      <h6 class="quote-author text-uppercase">
                        <cite class="text-normal">Amanda Smith</cite>
                      </h6>
                      <p class="quote-desc">SALES, AT THEMES.COM</p>
                    </blockquote>
            </div>
            <div class="offset-top-41 col-md-8 col-xl-4 offset-xl-top-0">
                    <!-- Boxed Testimonials-->
                    <blockquote class="quote quote-classic quote-classic-boxed">
                      <div class="quote-body">
                        <p>
                          <q>I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.</q>
                        </p>
                        <div class="quote-meta"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-sam-cole-80x80.jpg" alt="alisa milano"></div>
                      </div>
                      <h6 class="quote-author text-uppercase">
                        <cite class="text-normal">Sam Cole</cite>
                      </h6>
                      <p class="quote-desc">FOUNDER, AT YOURTAX.COM</p>
                    </blockquote>
            </div>
          </div>
        </div>
      </section>
