{% load static %}
<br>


<section class="section novi-background section-66 section-xl-110">
    <div class="container">
        <h1>Quiz {{ quiz.quiz_name  }} </h1>
          <hr class="divider bg-mantis">
        <BR/>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'courses:create_quiz_question' quiz_id=quiz.id %}" class="btn btn-success btn-sm">New Question</a>
                        {% endif %}
          <div class="row justify-content-md-center offset-top-66 text-left">
            <div class="col-md-12 col-lg-6">




                            <ul class="list-index list-unstyled row justify-content-center offset-top-50 offset-lg-top-66">
                            {% for rs in quizdetailsdata %}

                                <li class="container-fluid">
                                    <span class="list-index-counter icon novi-icon icon-lg icon-outlined icon-darker-filled mr-3 mb-3">
                                    </span>

                                    <p>
                                        {% if request.user.is_authenticated %}
                                <a href="{% url 'courses:delete_quiz_question' rs.id %}" class="btn btn-md"
                               style="background-color:white;"><i class="fa fa-trash"></i></a>
                                {% endif %}
                                        {{rs.question | safe}}</p>

                                    <div class="form-group group-sm">
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" id="choiceA-{{rs.id}}" name="choice-{{rs.id}}" value="A" type="radio">
                  <label class="custom-control-label" for="choiceA-{{rs.id}}">A. {{rs.choiceA}}</label>
                </div>
                                        <br>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" id="choiceB-{{rs.id}}" name="choice-{{rs.id}}" value="B" type="radio">
                  <label class="custom-control-label" for="choiceB-{{rs.id}}">B. {{rs.choiceB}}</label>
                </div>
                                        <br>
                                        <div class="custom-control custom-radio d-inline-block">

                  <input class="custom-control-input" id="choiceC-{{rs.id}}" name="choice-{{rs.id}}" value="C" type="radio">
                  <label class="custom-control-label" for="choiceC-{{rs.id}}">C. {{rs.choiceC}}</label>
                </div>
                                        <br>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" id="choiceD-{{rs.id}}" name="choice-{{rs.id}}" value="D" type="radio">
                  <label class="custom-control-label" for="choiceD-{{rs.id}}">D. {{rs.choiceD}}</label>
                </div>
                                        <br>
              </div>




                                    <div class="row justify-content-md-center text-left">
            <div class="col-md-8 col-lg-6">
              <!-- Bootstrap Accordion-->
              <div class="offset-top-0" role="tablist" aria-multiselectable="false" id="accordion-{{rs.id}}">
                  <div class="card card-classic">
                      <a class="card-header collapsed" href="#" data-toggle="collapse"
                         data-target="#accordion-{{rs.id}}--card-1-content"
                         id="accordion-{{rs.id}}--card-1-header"
                         aria-expanded="false"
                         aria-controls="accordion-{{rs.id}}--card-1-content">
                          Click to see right answer</a>
                  <div class="collapse" id="accordion-{{rs.id}}--card-1-content" aria-labelledby="accordion-{{rs.id}}--card-1-header" data-parent="#accordion-{{rs.id}}">
                    <div class="card-body">{{rs.rightAnswer}}</div>
                  </div>
                </div>

            </div>
          </div>





                                </li>
                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            {% endfor %}
                            </ul>




        </div>
    </div>
    </div>
</section>
