 <!-- Who we are?-->
      <section class="section novi-background section-98 section-sm-124">
        <div class="container">
          
          <div class="row justify-content-sm-center align-items-md-center offset-top-10 grid-group-md text-lg-left">
            <div class="col-xl-6">
              
              <h1>Who are we?</h1>
              <hr class="divider bg-mantis hr-xl-left-0">
           
              <p>wE-Learning is a social platform for people who love to learn, from all around the globe. Using wE-Learn, one can find like-minded people who have similar interests, join learning environments to learn new skills, connect with their learning friends and contribute to the collective knowledge.
              </p>
              <p>Our aim is to revolutionize the classic approach towards online learning platforms, and offer an innovative experience. We believe in the community spirit and sustain that learning is much more fun when done together!</p>
              <!-- Box Member-->
              <div class="row">
                        <div class="col-xl-6 box-member">
                          <img class="img-fluid" src="images/users/user-john-doe-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20">
                            <a>Suzan Üsküdarlı</a> 
                            <br>
                            <small class="team-member.html">Founder, Mentor</small>
                          </h5>
                          
                        </div>
                        <div class="col-xl-6 box-member">
                          <img class="img-fluid" src="images/users/user-july-mao-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>Fatma Betül Güreş</a> 
                            <br>
                            <small class="team-member.html">Developer</small>
                          </h5>                          
                        </div>
              </div>

            </div>
            </div>
          </div>
          <div class="row justify-content-sm-center offset-md-top-66">
            <div class="col-xl-5 col-xl-12">
              <div class="row">
                <div class="col-md-6 col-xl-3 offset-top-66 offset-sm-top-0">
                        
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-0 offset-xl-top-0">
                        <!-- Box Member-->
                        
                </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Who we are?-->

      
