 <!-- Who we are?-->
      <section class="section novi-background section-98 section-sm-124">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 text-xl-left">
              <h1>Who we are?</h1>
              <hr class="divider bg-mantis hr-xl-left-0">
            </div>
          </div>
          <div class="row justify-content-sm-center align-items-md-center offset-top-10 grid-group-md text-lg-left">
            <div class="col-md-10 col-xl-5">
              <p>Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.</p>
              <p>Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.</p>
            </div>
            <div class="col-md-10 col-xl-7">
                    <!-- Linear progress bar-->
                    <div class="progress-linear" data-to="70">
                      <div class="progress-header clearfix"><span class="small text-ubold pull-left">HTML/CSS</span><span class="small text-ubold pull-right progress-value">70</span></div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear bg-success"></div>
                      </div>
                    </div>
              <div class="offset-top-50">
                      <!-- Linear progress bar-->
                      <div class="progress-linear" data-to="54">
                        <div class="progress-header clearfix"><span class="small text-ubold pull-left">Java Script</span><span class="small text-ubold pull-right progress-value">54</span></div>
                        <div class="progress-bar-linear-wrap">
                          <div class="progress-bar-linear bg-info"></div>
                        </div>
                      </div>
              </div>
              <div class="offset-top-50">
                      <!-- Linear progress bar-->
                      <div class="progress-linear" data-to="87">
                        <div class="progress-header clearfix"><span class="small text-ubold pull-left">PHP</span><span class="small text-ubold pull-right progress-value">87</span></div>
                        <div class="progress-bar-linear-wrap">
                          <div class="progress-bar-linear bg-warning"></div>
                        </div>
                      </div>
              </div>
              <div class="offset-top-50">
                      <!-- Linear progress bar-->
                      <div class="progress-linear" data-to="65">
                        <div class="progress-header clearfix"><span class="small text-ubold pull-left">UI/UX Design</span><span class="small text-ubold pull-right progress-value">65</span></div>
                        <div class="progress-bar-linear-wrap">
                          <div class="progress-bar-linear bg-danger"></div>
                        </div>
                      </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-sm-center offset-md-top-66">
            <div class="col-md-10 col-xl-12">
              <div class="row">
                <div class="col-md-6 col-xl-3 offset-top-66 offset-sm-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-john-doe-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>John Doe</a> <small class="team-member.html">Founder</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-0 offset-xl-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-july-mao-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>July Mao</a> <small class="team-member.html">Web Designer</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-30 offset-xl-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-bernard-show-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>Bernard Show</a> <small class="team-member.html">Co-Founder</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-30 offset-xl-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-ronald-oswald-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>Ronald Oswald</a> <small class="team-member.html">Developer</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Who we are?-->
      <section class="section novi-background section-98 section-sm-110 bg-gray-darkest context-dark">
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col-md-8 col-lg-12">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-vector-arrange-below text-mantis"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="3000" data-from="0" data-to="58249"></span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-top-66 offset-md-top-0">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-account-multiple-outline text-malibu"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="2500" data-from="0" data-to="246"></span><span class="h1 font-weight-bold">K</span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-top-66 offset-lg-top-0">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-clock text-neon-carrot"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="1500" data-from="0" data-to="1200"></span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-top-66 offset-lg-top-0">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-code-brackets text-ku-crimson"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="1300" data-from="0" data-to="834"></span><span class="h1 font-weight-bold">K</span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why Choose Us-->
      <section class="section novi-background section-top-98 section-sm-top-110 section-sm-bottom-110 section-lg-top-66 section-bottom-98 section-lg-bottom-0 bg-lightest">
        <div class="container">
          <div class="row justify-content-md-center align-items-lg-center">
            <div class="col-xl-5 d-none d-xl-inline-block"><img class="img-fluid" width="470" height="770" src="images/pages/about-us-01-470x770.png" alt=""></div>
            <div class="col-md-10 col-xl-5 section-lg-bottom-50">
              <h1 class="offset-none">Why Choose Us</h1>
              <hr class="divider bg-mantis">
              <div class="offset-top-66 offset-xl-top-50">
                      <!-- Icon Box Type 2-->
                      <div class="unit unit-sm flex-md-row text-md-left">
                        <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-monitor"></span></div>
                        <div class="unit-body">
                          <h4 class="font-weight-bold text-malibu offset-md-top-14">We use cutting-edge technologies</h4>
                          <p>Our team of professional analysts is constantly roaming the web in search of promising techniques, which will make your business better.</p>
                        </div>
                      </div>
                <div class="offset-top-66 offset-xl-top-34">
                        <!-- Icon Box Type 2-->
                        <div class="unit unit-sm flex-md-row text-md-left">
                          <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-newspaper"></span></div>
                          <div class="unit-body">
                            <h4 class="font-weight-bold text-malibu offset-md-top-14">We value your time</h4>
                            <p>We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. Our team works on your project in multiple threads.</p>
                          </div>
                        </div>
                </div>
                <div class="offset-top-66 offset-xl-top-34">
                        <!-- Icon Box Type 2-->
                        <div class="unit unit-sm flex-md-row text-md-left">
                          <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-headset"></span></div>
                          <div class="unit-body">
                            <h4 class="font-weight-bold text-malibu offset-md-top-14">We provide qualified support</h4>
                            <p>Our support team is online 24/7, and is ready to help you with any design - related issue.</p>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- What clients Say?-->
      <section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <h1>What clients Say?</h1>
          <hr class="divider divider-md bg-mantis">
          <div class="row justify-content-sm-center offset-top-66">
            <div class="col-md-8 col-xl-4">
                    <!-- Boxed Testimonials-->
                    <blockquote class="quote quote-classic quote-classic-boxed">
                      <div class="quote-body">
                        <p>
                          <q>Great service and reasonable prices. The one thing I am sure about right now is that my next web startup will be developed by Intense.</q>
                        </p>
                        <div class="quote-meta"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-alex-merphy-80x80.jpg" alt=""></div>
                      </div>
                      <h6 class="quote-author text-uppercase">
                        <cite class="text-normal">Alex Merphy</cite>
                      </h6>
                      <p class="quote-desc">FREELANCE DEVELOPER</p>
                    </blockquote>
            </div>
            <div class="offset-top-41 col-md-8 col-xl-4 offset-xl-top-0">
                    <!-- Boxed Testimonials-->
                    <blockquote class="quote quote-classic quote-classic-boxed">
                      <div class="quote-body">
                        <p>
                          <q>They’ve developed a large multipage website with lots of additional functions in just two weeks.</q>
                        </p>
                        <div class="quote-meta"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-amanda-smith-80x80.jpg" alt=""></div>
                      </div>
                      <h6 class="quote-author text-uppercase">
                        <cite class="text-normal">Amanda Smith</cite>
                      </h6>
                      <p class="quote-desc">SALES, AT THEMES.COM</p>
                    </blockquote>
            </div>
            <div class="offset-top-41 col-md-8 col-xl-4 offset-xl-top-0">
                    <!-- Boxed Testimonials-->
                    <blockquote class="quote quote-classic quote-classic-boxed">
                      <div class="quote-body">
                        <p>
                          <q>I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.</q>
                        </p>
                        <div class="quote-meta"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-sam-cole-80x80.jpg" alt="alisa milano"></div>
                      </div>
                      <h6 class="quote-author text-uppercase">
                        <cite class="text-normal">Sam Cole</cite>
                      </h6>
                      <p class="quote-desc">FOUNDER, AT YOURTAX.COM</p>
                    </blockquote>
            </div>
          </div>
        </div>
      </section>
