{% load static %}
<!-- Page Content-->
      <section class="section novi-background section-98 section-sm-124">
        <div class="container">
          <!-- Shop Grid View-->

{% for rs in courses %}
          <div class="offset-top-41">
                      <!-- Product-->
                      <div class="product product-list product-list-wide unit flex-md-row align-items-sm-start">
                        <!-- Product Image-->
                        <div class="product-image unit-left">
                          <img class="img-fluid product-image-area" width="365px;" height="240px;" src="{{ rs.image.url }}" alt="">
                        </div>
                        <div class="unit-body text-left">
                          <div class="unit flex-xl-row align-items-xl-start">
                            <div class="unit-body">
                              <!-- Product Title-->
                              <h2 class="product-title offset-top-0">
                                <a href="/course_detail/{{rs.id}}">{{ rs.title }}</a>
                              </h2>
                              <!-- Product Rating-->
                              <div class="product-rating offset-top-20">

                              </div>
                              <p class="product-desc">{{ rs.lookin }}</p>
                                <a class="font-weight-bold text-picton-blue d-none d-xl-inline-block" href="/course_detail/{{rs.id}}">Learn More</a>
                            </div>
                            <div class="unit-right product-list-right">

                              <!-- Product Add To cart-->
                                <a class="btn btn-sm btn-picton-blue btn-icon btn-icon-left product-btn offset-top-20 offset-sm-top-0 offset-xl-top-20 d-xl-block" href="/course_detail/{{rs.id}}">
                                    <span class="novi-icon icon mdi mdi-play-circle"></span>Explore</a>

                            </div>
                          </div>
                        </div>
                      </div>
          </div>
{% endfor %}






        </div>
      </section>
