<br>


<section class="section novi-background section-98 section-md-110">
    <div class="container">
        <div class="row justify-content-sm-center text-left">
            <ul>
                {% for rs in categoriesdata %}
                <div class="col-sm-4">
                    <li class="post-meta inset-left-20">
                        <span class="novi-icon icon icon-xxs text-middle mdi mdi-file-document"></span>
                        <span class="text-middle"><a href="/category_detail/{{rs.parent.id}}">{{ rs.parent.title }}</a></span>
                        <ul>
                            {% for sub_category in parents %}
                            {% if sub_category.parent.id == rs.id %}
                            <li>{{sub_category.title}}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

