<br>


<section class="section novi-background section-98 section-md-110">
    <div class="container">
        <h1>Categories </h1>
        <hr class="divider bg-mantis">
        <div class="row justify-content-md-center offset-top-66 text-left">
            <div class="col-md-12 col-lg-6">
                <ul>
                    {% for category in categoriesdata %}
                    {% if not category.parent %}
                    <li><a href="/category_detail/{{category.id}}">{{category.title}}</a></li>
                    <ul>
                        {% for sub_category in categoriesdata %}
                        {% if sub_category.parent and sub_category.parent.id == category.id %}
                        <li><a href="/category_detail/{{sub_category.id}}">{{sub_category.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
</section>
<!--            <ul>-->
<!--                {% for rs in categoriesdata %}-->

<!--                {% for sub_category in parents %}-->
<!--                            {% if sub_category.parent.id == rs.id %}-->
<!--                 <li class="post-meta inset-left-20">-->
<!--                                <span class="novi-icon icon icon-xxs text-middle mdi mdi-file-document"></span>-->
<!--                                <a href="/category_detail/{{sub_category.id}}">{{sub_category.title}}</a> (<a href="/category_detail/{{rs.id}}">{{rs.title}}</a>)-->
<!--                            </li>-->

<!--                {% endif %}-->
<!--                {% endfor %}-->


<!--                {% endfor %}-->
<!--            </ul>-->

