.rd-mailform {
  position: relative;
  text-align: left;
}

.rd-mailform .stick-to-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.rd-mailform .stick-to-bottom * + .form-wrap {
  margin-top: 0;
}

.rd-mailform .align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rd-mailform .card-box {
  position: relative;
  padding: 20px 10px;
}

.rd-mailform .card-box:after {
  content: '\f023';
  position: absolute;
  top: 12px;
  right: 12px;
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 1;
  color: #5d6062;
}

@media (min-width: 992px) {
  .rd-mailform .card-box {
    padding: 33px;
  }
}

.rd-mailform * + .button {
  margin-top: 10px;
}

.rd-mailform * + .form-wrap {
  margin-top: 10px;
}

.rd-mailform * + .button-wrap {
  margin-top: 36px;
}

.rd-mailform .form-label-outside + .form-input {
  margin-top: 7px;
}

@media (min-width: 992px) {
  .rd-mailform * + .button {
    margin-top: 50px;
  }
  .rd-mailform * + .form-wrap {
    margin-top: 19px;
  }
  .rd-mailform .divider-word + .form-wrap {
    margin-top: 21px;
  }
}

.rd-mailform .form-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #232a33;
  background-color: #fff;
  background-image: none;
  border: 1px solid #0688cc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.form-input:focus {
  outline: 0;
}

@media (min-width: 678px) {
  .form-input {
    padding: 12px 18px;
  }
}

textarea.form-input {
  height: 139px;
  min-height: 50px;
  max-height: 250px;
  resize: vertical;
}

.form-wrap {
  position: relative;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  color: #232a33;
}

@media (min-width: 678px) {
  .form-label {
    padding: 12px 18px;
  }
}

[data-x-mode="true"] .form-label {
  pointer-events: auto;
}

.form-label.focus {
  opacity: 0;
}

.form-label.auto-fill {
  color: #232a33;
}

.form-label-outside {
  display: block;
  margin: 0 18px;
  font-weight: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .form-label-outside {
    position: static;
  }
}

.form-validation {
  position: absolute;
  top: 2px;
  left: 18px;
  right: 18px;
  z-index: 11;
  text-align: right;
  font-size: 11px;
  line-height: 11px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #d9534f;
}

.validation-with-outside-label .form-validation {
  top: 31px;
}

.form-validation-left .form-validation {
  top: 100%;
  left: 0;
  right: auto;
}

#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  -webkit-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  transform: translateX(-500px);
  z-index: 9999999;
  font-size: 14px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  visibility: hidden;
}

#form-output-global.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}

@media (min-width: 480px) {
  #form-output-global {
    left: 30px;
  }
}

.form-output {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.form-output.active {
  opacity: 1;
  visibility: visible;
}

.form-output.error {
  color: #d9534f;
}

.form-output.success {
  color: #5cb85c;
}

.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
  opacity: 0;
}

.radio .radio-custom, .radio .radio-custom-dummy,
.radio-inline .radio-custom,
.radio-inline .radio-custom-dummy,
.checkbox .checkbox-custom,
.checkbox .checkbox-custom-dummy,
.checkbox-inline .checkbox-custom,
.checkbox-inline .checkbox-custom-dummy {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
}

.radio .radio-custom-dummy,
.radio-inline .radio-custom-dummy,
.checkbox .checkbox-custom-dummy,
.checkbox-inline .checkbox-custom-dummy {
  pointer-events: none;
  background: #f4f4f4;
}

.radio .radio-custom-dummy:after,
.radio-inline .radio-custom-dummy:after,
.checkbox .checkbox-custom-dummy:after,
.checkbox-inline .checkbox-custom-dummy:after {
  position: absolute;
  opacity: 0;
}

.radio .radio-custom:focus,
.radio-inline .radio-custom:focus,
.checkbox .checkbox-custom:focus,
.checkbox-inline .checkbox-custom:focus {
  outline: none;
}

.radio-inline,
.checkbox-inline {
  padding-left: 25px;
  font-weight: 300;
}

.radio-inline .heading,
.checkbox-inline .heading {
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
  opacity: 1;
}

.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin: auto;
}

.radio .radio-custom-dummy,
.radio-inline .radio-custom-dummy {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.radio .radio-custom-dummy:after,
.radio-inline .radio-custom-dummy:after {
  content: '';
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background: #ed5456;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: auto;
}

.checkbox .checkbox-custom-dummy,
.checkbox-inline .checkbox-custom-dummy {
  pointer-events: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: 0;
  left: 0;
}

.checkbox .checkbox-custom-dummy:after,
.checkbox-inline .checkbox-custom-dummy:after {
  content: '\e5ca';
  font-family: 'Material Icons';
  font-size: 20px;
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: #2e2e2f;
}

.subscribe-form {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 680px;
  width: 100%;
}

.subscribe-form .button-wrap,
.subscribe-form .form-wrap {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.subscribe-form .button {
  width: 100%;
}

.subscribe-form * + .button-wrap {
  margin-top: 10px;
}

@media (min-width: 480px) {
  .subscribe-form {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .subscribe-form .form-wrap {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .subscribe-form .button-wrap {
    -webkit-flex-basis: 136px;
    -ms-flex-preferred-size: 136px;
    flex-basis: 136px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-top: 0;
    margin-left: 10px;
  }
  .ie-11 .subscribe-form .button-wrap,
  .ie-edge .subscribe-form .button-wrap {
    min-width: 180px;
  }
}

.recaptcha {
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

@media (min-width: 480px) {
  .recaptcha {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.recaptcha-validation .form-validation {
  left: 15px;
  right: 15px;
  top: 10px;
  text-align: left;
}

@media (min-width: 480px) {
  .recaptcha-validation .form-validation {
    top: 2px;
  }
}


/*
*
* Snackbars
* --------------------------------------------------
*/
.snackbars {
  position: fixed;
  bottom: 0;
  transform: translateY(101%);
  transition: .3s;
  max-width: 280px;
  padding: 9px 16px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: left;
  background-color: #222;
  border-radius: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px; }
  .snackbars .icon-xxs {
    font-size: 18px; }
  .snackbars p span:last-child {
    padding-left: 14px; }
  .snackbars-left {
    display: inline-block;
    margin-bottom: 0; }
  .snackbars-right {
    display: inline-block;
    float: right;
    text-transform: uppercase; }
    .snackbars-right:hover {
      text-decoration: underline; }
  @media (min-width: 480px) {
    .snackbars {
      max-width: 540px;
      padding: 12px 15px;
      font-size: 15px; } }

.snackbars.active {
  transform: translateY(0);
}
